---
layout: default
---
<div class="post">
  <header class="post-header">
   <h1 class="post-title"> {{ site.title }} </h1> 
    <h3 class="more-info">{{ site.venue }}</h3>
  </header>
<br>
  <article>

  <div class="container">
        <div class="row row-cols-2">
   
                <div class="col-sm-12 col-lg-6 mb-2"  style="vertical-align:middle; text-align:center">
                   <img src="../assets/local/gtwc.png" alt="drawing" height="400"/>
                </div> 
                <div class="col-sm-12 col-lg-6 mb-2"  style="text-align: justify;">
                    {{ content }}
                </div> 
        </div> 

    </div>
<br>
  <h2>Important dates</h2>
      <table class="table table-striped">
        <tbody>
          {% for date in site.data.dates %}     
            <tr>
              <td style="text-align: left">{{ date.name }}: </td><td style="text-align: left"><b>{{ date.date }}</b></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>      
 
  <br><br>

  <h2>Proceedings</h2>
    <div class="container">
        <div class="row row-cols-1">
         {% for proceedings in site.data.proceedings %}
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-3">
                  <img src="{{ proceedings.picture }}" style="width: 150px; height: 150px; object-fit: contain;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title"><a href="{{ proceedings.homepage }}"> {{ proceedings.name }}</a> </h4>
                   </div>
                   All accepted full papers will be published by IOP Science
                   and indexed by SCOPUS and the Web of Science.
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
    </div>
    <br><br>
    
   <h2>Organization</h2>
    {% for organizertype in site.data.organizers %}   
      <h3> {{ organizertype.title }} </h3>
      <table class="table table-striped">
        <tbody>
          {% for organizer in organizertype.members %}     
            <tr>
              <td style="text-align: left"><strong><a href="{{ organizer.homepage }}">{{ organizer.name }}</a></strong>{% if organizer.org %} - {{ organizer.org }} {% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>      
    {% endfor %}

  <br><br>




 
    <br><br>

    <div class="container">
        <div class="row row-cols-4">
         {% for sponsor in site.data.sponsors %}
          <div class="card-item col">
                <div class="card-img col-md-2 mx-auto">
                  <a href="{{ sponsor.homepage }}"> <img src="{{ sponsor.picture }}" style="width: 150px; height: 150px; object-fit: contain;"></a>
                </div>
           </div>
          {% endfor %} 
        </div>
    </div>
    <br> 
  </article>
</div>
